# Creating DataFrames in Pandas:

Here, we want to work with the pandas library provided by python so, in order to do that we will import this library to this notebook

In [1]:
import pandas as pd

## Creating an empty data-frame:

In [2]:
df = pd.DataFrame()

Here, in the aboved line of code, the variable 'df' is assigned to an empty DataFrame object.

In [3]:
df

Empty DataFrame
Columns: []
Index: []

As you might have expected printing an empty dataframe does not print anything to output.

## Creating DataFrames from lists:

In order to create a dataframe usign list, we first need a list. Consider the following list 'lst'.

In [4]:
lst = ['Robotronlab', 'is', 'fun', 'and', 'learn']

Now, to create a dataframe we assign a new variable to the pd.DataFrame() method.
Providing the list name as the argument to DataFrame() method creates a data-frame using list elements.

In [5]:
df1 = pd.DataFrame(lst)

Now, let's print this newly created data-frame

In [6]:
df1

             0
0  Robotronlab
1           is
2          fun
3          and
4        learn

##  Creating DataFrame from dict:

Let's create a python dictionary first.

In [8]:
data = {'Name':['Tom','nick', 'krish', 'jack'],'Age':[20, 21, 19, 18]}

Now, to create a new data-frame using these key-value pairs stored inside the dictionary we give the dictionary name as the argument of the DataFrame() method.

In [17]:
# samplecsvs.s3.amazonaws.com/Sacramentorealestatetransactions.csv
df2 = pd.DataFrame(data)

Now let's try to print our data-frame

In [18]:
df2

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

## Creating data-frame using array:

Python don't have arrays, so we need to use NumPy library. Let's import numpy.

In [19]:
import numpy as np

Let's create a numpy array first

In [20]:
array = np.array([1,2,3,4,5,'string'])

In [21]:
dfs = pd.DataFrame(array)

In [22]:
dfs

        0
0       1
1       2
2       3
3       4
4       5
5  string

## Assignment:

1. Use the csv file provided and load it into an pandas data-frame object name it df3, using "pd.read_csv('filename.csv')" function! and try to print this dataframe

In [ ]:
#Write code for assignment1 in this cell

# Assignments:

1.