In [1]:
import pandas as pd

In [3]:
dataframe = pd.read_csv("./country_info.csv")

In [4]:
dataframe.shape

(5, 5)

In [5]:
dataframe

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Dehli   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98